{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cool task manager">
        <title>{% trans 'Task manager' %}</title>
        <!-- <link rel="icon" type="image/png" href="https://img.icons8.com/fluency/512/microsoft-todo-2019.png" /> -->
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
           {% include 'navbar.html' %}
        </header>
    </body>
</html>