{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
    {{ title }} | {% trans 'Task Manager' %}
{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
</div>

<div class="link m-3">
    <a class="link-opacity-100"  href="{% url 'create_task' %}">{% trans 'Create task' %}</a>
</div>

<div class="card m-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
                {% bootstrap_form filter.form %}
                {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
        </form>
    </div>
</div>

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Author' %}</th>
        <th scope="col">{% trans 'Executor' %}</th>
        <th scope="col">{% trans 'Creation date' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% if tasks %}
    {% for task in tasks %}
    <tr>
        <th scope="row">{{ task.id }}</th>
        <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.date_created|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'update_task' task.id %}">{% trans 'Update' %}</a>
            <br>
          <a href="{% url 'delete_task' task.id %}">{% trans 'Delete' %}</a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}